{% extends 'app/base.html' %}
{% load static %}

{% block title %}Trang Chủ{% endblock title %}

{% block main_content %}
<main class="mt-6 flex justify-center">
    <div class="w-full max-w-2xl">
        <div id="post-container" class="space-y-4">
            </div>
    </div>
</main>
{% endblock main_content %}

{% block post_scripts %}
<script type='module' src="{% static 'js/app/post.js' %}"></script>
<script type="module" src="{% static 'js/app/add_post.js' %}"></script>
{% endblock post_scripts %}